# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
#new change1
workflows:
  # Name the workflow "welcome"
  welcome:
    # Run the welcome/run job in its own container
    jobs:
      build:
        - working_directory: ~/docker-nginx
        - docker:
            - image: docker:19.03.12-git
        - steps:
            - checkout
            - setup_remote_docker
            - run: docker run --privileged nipunshaji190/plugin:1 slim --namespace nipunshaji190 --appname demo --tag test5
