version: "2.1"
description: "a sample orb"

jobs:
  slim:
    docker:
      - image: docker:19.03.12-git
    steps:
      - checkout
      - setup_remote_docker
      - run: apk add --no-cache python3
      - run: apk add py3-pip
      - run: python3 --version
      - run: pip3 install --upgrade pip setuptools
      - run: 
          name: install requirements
          command: |
            REQUIREMENTS_FILE=$(mktemp _requirements.XXXXXX)
            cat > $REQUIREMENTS_FILE 
            docker==4.3.1
            EOF
            pip install -r $REQUIREMENTS_FILE
      - run: docker images

workflows:
  slim_and_push_image:
    jobs:
      - slim:
          context: plugin

          
