version: "2.1"
description: "a sample orb"

jobs:
  build:
    working_directory: ~/docker-nginx
    docker:
      - image: docker:19.03.12-git
    steps:
      - checkout
      - setup_remote_docker
      - run: docker run --privileged nipunshaji190/plugin:1 slim --namespace nipunshaji190 --appname demo --tag test5

#new change4
workflows:
  # Name the workflow "welcome"
  welcome:
    # Run the welcome/run job in its own container
    jobs:
      - build:
          context: plugin
