version: "2.1"
description: "a sample orb-abc"

orbs:
    slim: slimai-dev/slim@dev:first
    aws-ecr: circleci/aws-ecr@6.12.2
    aws-ecs: circleci/aws-ecs@1.3.0

workflows:
  slim_and_push:
    jobs:
      - aws-ecr/build-and-push-image:
          account-url: $AWS_ECR_ACCOUNT_URL
          aws-access-key-id: $AWS_ACCESS_KEY_ID
          aws-secret-access-key: $AWS_SECRET_ACCESS_KEY
          # context: myContext
          create-repo: true
          dockerfile: Dockerfile
          no-output-timeout: 20m
          region: $AWS_REGION
          repo: $PRE_REPO
          skip-when-tags-exist: false
          tag: $TAG
      - aws-ecs/deploy-service-update:
          requires:
            - aws-ecr/build-and-push-image
          aws-access-key-id: $AWS_ACCESS_KEY
          aws-secret-access-key: $AWS_SECRET_ACCESS_KEY
          aws-region: $AWS_REGION 
          family: $PRE_FAMILY
          service-name: $PRE_SERVICE_NAME
          cluster-name: $PRE_CLUSTER_NAME
          container-image-name-updates: 'container=$PRE_CONTAINER_NAME,tag=$TAG'    
          force-new-deployment: true
      - slim/slim:
          context: plugin
    
